<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{if .Post}}
        {{if .Post.IsIndex}}
        <title>{{.Site.Title}}</title>
        <meta name="description" content="{{.Site.Description}}">
        {{else}}
        <title>{{.Site.Title}} - {{.Post.Title}}</title>
        <meta name="description" content="{{.Post.Summary}}">
        {{end}}
        <meta property="og:title" content="{{.Post.Title}}"/>
        <meta property="og:description" content="{{.Post.Summary}}"/>
        <meta property="og:url" content="{{.Post.Permalink}}"/>
        <meta property="og:image" content="{{.Post.ImageURL}}" />
    {{else}}
    <title>{{.Site.Title}}</title>
    <meta name="description" content="{{.Site.Description}}">
    {{end}}
    <meta property="og:site_name" content="{{.Site.Title}}"/>
    <meta property="og:type" content="website"/>
    <meta name="description" content="{{.Site.Description}}"/>
    <link href="{{.Content.FontLink }}" rel="stylesheet">
    <link rel="stylesheet" href="styles/sakura-blazer.css" id="theme-css">
    <link rel="stylesheet" href="styles/blazer.css">
    <style media="screen">
    html {
        font-size: 62.5%;
        font-family: '{{.Content.FontName}}', serif; 
    }
    </style>
</head>
<body>