  <h1>{{.Site.Title}}</h1>
  <p>
    <a href="index.html">{{index .Locales "latest"}}</a> | <a href="archive.html">{{index .Locales "archive"}}</a> | <a id="cuk" href="#" data-lm='{{index .Locales "light_mode"}}' data-dm='{{index .Locales "dark_mode"}}'>{{index .Locales "light_mode"}}</a>
  </p>
  <h2>{{.Post.Title}}</h2>
  {{if .Post.Subtitle}}
  <cite>{{.Post.Subtitle}}</cite>
  <br>
  {{end}}
  <code>{{.Post.Date}}</code>
  <br/>
  {{.Post.Content}}
  <p>
    {{if .Post.Prev}}
    <a href="{{.Post.Prev.PermalinkURL}}">{{.Post.Prev.Title}}</a>
    {{end}}
  </p>
  